<table class="table is-bordered is-fullwidth is-hoverable">
  <thead>
  <tr>
    <th *ngFor="let col of columns" [style.width]="col.width">
      {{col.label}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows" (click)="rowClicked(row)">
    <ng-container *ngTemplateOutlet="rowTemplate; context: {row:row}"></ng-container>
  </tr>
  </tbody>
</table>

<div class="container" *ngIf="pagination">
  <div class="pagination-container">
    <button class="button" (click)="previousPage()">Späť</button>
    <div class="pagination-range">{{currentPage + 1}}/{{meta.value?.totalPages}}</div>
    <button class="button" (click)="nextPage()">Ďalej</button>
  </div>
</div>
